[Unit]
Description=skywalking-oap
After=network.target

[Service]
WorkingDirectory={{ skywalking_directory_name.stdout }}
User={{ skywalking_user }}

LimitNOFILE={{ skywalking_ulimit_nofile | default(10240) }}
LimitNPROC={{ skywalking_ulimit_nproc | default(10240) }}
LimitCORE={{ skywalking_ulimit_core | default('infinity') }}
LimitMEMLOCK={{ skywalking_ulimit_core | default('infinity') }}

Type=simple
ExecStart={{ skywalking_directory_name.stdout }}/bin/oapService.sh

Restart=always
RestartSec=30
PrivateTmp=true
SuccessExitStatus=143

StandardOutput=journal
StandardError=journal

KillSignal=SIGINT

TimeoutStopSec=20
StartLimitInterval=0
StartLimitBurst=10

[Install]
WantedBy=multi-user.target