OAP_HOME="{{ skywalking_directory_name.stdout }}"
OAP_LOG_DIR="${OAP_HOME}/logs"
JAVA_OPTS=" -Xms{{skywalking_oap_jvm_xms}}M -Xmx{{skywalking_oap_jvm_xmx}}M"
OAP_OPTIONS=" -Doap.logDir=${OAP_LOG_DIR}"
CLASSPATH="{{ skywalking_directory_name.stdout }}/config:$CLASSPATH"